pre.code {
    font-family: 'Inconsolata';
    font-size: 14px;
}

.posttranslations ul{
    display: inline-block;
    padding:0;
    margin:0;
}
.posttranslations ul>li{
    display: inline;
    list-style: none; /* pour enlever les puces sur IE7 */
    padding:0;
    margin:0;
}

.epublink a {
    color:#C0392B;
}

.testi-content p {
    font-size: 15px;
}
