font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:10px;-webkit-tap-highlight-color:transparent;

body {
margin: 0;
background-color: #fff;
font: 18px/1.5 Lato,sans-serif;
color: #555;
}

header,nav,section {
display: block;
}

a {
background-color: transparent;
text-decoration: none!important;
color: #1abc9c;
}

a:active,a:hover {
outline: 0;
}

input {
color: inherit;
font: inherit;
margin: 0;
font-family: inherit;
font-size: inherit;
line-height: inherit;
}

input::-moz-focus-inner {
border: 0;
padding: 0;
}

input[type=checkbox] {
line-height: normal;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin: 1px \9 0 0;
line-height: normal;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
line-height: normal;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
line-height: normal;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding: 0;
margin-top: 1px \9;
line-height: normal;
}

@media print {
*,:after,:before {
  background: 0 0!important;
  color: #000!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  text-shadow: none!important;
}

a,a:visited {
  text-decoration: underline;
}

a[href]:after {
  content: " (" attr(href) ")";
}

a[href^="#"]:after {
  content: "";
}

p {
  orphans: 3;
  widows: 3;
}}

*,:after,:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
  color: #222;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.sr-only-focusable:active,.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

p {
  margin: 0 0 10px;
}

.text-center {
  text-align: center;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

label {
  font: 700 13px Raleway,sans-serif;
  max-width: 100%;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #555;
  margin-bottom: 10px;
  cursor: pointer;
}

input[type=checkbox]:focus {
  outline: 5px;
  outline-offset: -2px;
}

.clearfix:after,.clearfix:before,.container:after,.container:before {
  content: " ";
  display: table;
}

.clearfix:after,.container:after {
  clear: both;
}

li,ul {
  padding: 0;
}

li {
  margin: 0;
}

::selection {
  background: #1ABC9C;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #1ABC9C;
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #1ABC9C;
  color: #FFF;
  text-shadow: none;
}

:active,:focus {
  outline: none;
}

ul {
  margin: 0 0 30px;
}

#header,#wrapper {
  background-color: #fff;
}

#wrapper {
  position: relative;
  float: none;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
  width: 1220px;
  margin: 0 auto;
}

.nobottomborder {
  border-bottom: 0;
}

#header {
  border-bottom: 1px solid #f5f5f5;
}

#header,#header .container,#logo {
  position: relative;
}

#logo {
  float: left;
  font: 36px/100% Raleway,sans-serif;
  margin-right: 40px;
}

#logo a {
  display: block;
  color: #000;
}

#primary-menu {
  float: right;
  height: 100px;
}

#primary-menu-trigger {
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

#primary-menu ul {
  list-style: none;
  height: 100px;
  margin: 0;
}

#primary-menu>ul {
  float: left;
}

#primary-menu ul li {
  position: relative;
  float: left;
  margin-left: 2px;
}

#primary-menu ul li:first-child {
  margin-left: 0;
}

#primary-menu ul li a {
  display: block;
  height: 100px;
  font: 700 13px/100px Raleway,sans-serif;
  padding: 0 15px;
  color: #444;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
  -o-transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
  transition: height .4s ease,line-height .4s ease,margin .4s ease,padding .4s ease;
}

#primary-menu ul li span {
  display: none;
}

#primary-menu ul li span[class~=flag-icon] {
  display: inline-block;
}

#primary-menu ul li i {
  font-size: 14px!important;
  -o-transition: line-height .4s ease;
  transition: line-height .4s ease;
  position: relative;
  font-size: 14px!important;
  top: 1px;
  line-height: 99px;
  width: 14px;
  text-align: center;
  margin-right: 6px;
  -webkit-transition: line-height .4s ease;
  -o-transition: line-height .4s ease;
  transition: line-height .4s ease;
  position: relative;
  font-size: 14px!important;
  top: 1px;
  line-height: 99px;
  width: 14px;
  text-align: center;
  margin-right: 6px;
  -webkit-transition: line-height .4s ease;
  -o-transition: line-height .4s ease;
  transition: line-height .4s ease;
  position: relative;
  font-size: 14px!important;
  top: 1px;
  line-height: 99px;
  width: 14px;
  text-align: center;
  margin-right: 6px;
  -webkit-transition: line-height .4s ease;
  -o-transition: line-height .4s ease;
  transition: line-height .4s ease;
}

#primary-menu>ul>li.current a,#primary-menu>ul>li:hover a {
  color: #1abc9c;
}

#header,#header-wrap,#primary-menu:not(.style-2),#primary-menu:not(.style-2)>ul {
  height: 100px;
  -webkit-transition: height .4s ease,opacity .3s ease;
  -o-transition: height .4s ease,opacity .3s ease;
  transition: height .4s ease,opacity .3s ease;
}

body:not(.top-search-open) #header-wrap #logo,body:not(.top-search-open) #primary-menu>ul {
  opacity: 1;
  -webkit-transition: height .4s ease,margin .4s ease,opacity .2s .2s ease;
  -o-transition: height .4s ease,margin .4s ease,opacity .2s .2s ease;
  transition: height .4s ease,margin .4s ease,opacity .2s .2s ease;
  opacity: 1;
  -webkit-transition: height .4s ease,margin .4s ease,opacity .2s .2s ease;
  -o-transition: height .4s ease,margin .4s ease,opacity .2s .2s ease;
  transition: height .4s ease,margin .4s ease,opacity .2s .2s ease;
  opacity: 1;
  -webkit-transition: height .4s ease,margin .4s ease,opacity .2s .2s ease;
  -o-transition: height .4s ease,margin .4s ease,opacity .2s .2s ease;
  transition: height .4s ease,margin .4s ease,opacity .2s .2s ease;
  opacity: 1;
  -webkit-transition: height .4s ease,margin .4s ease,opacity .2s .2s ease;
  -o-transition: height .4s ease,margin .4s ease,opacity .2s .2s ease;
  transition: height .4s ease,margin .4s ease,opacity .2s .2s ease;
}

#content,#content .container,#header-wrap,.content-wrap {
  position: relative;
}

#content {
  overflow: hidden;
  background-color: #fff;
}

#content p {
  line-height: 1.8;
}

.content-wrap {
  padding: 64px 0;
}

#content ul {
  margin-left: 25px;
}

.testimonials-grid {
  list-style: none;
  overflow: hidden;
}

.testimonials-grid li {
  float: left;
  position: relative;
  width: 50%;
  padding: 25px;
  height: 188px;
}

.testimonials-grid li:after,.testimonials-grid li:before {
  content: '';
  position: absolute;
}

.testimonials-grid li:before {
  height: 100%;
  top: 0;
  left: -1px;
  border-left: 1px dashed #ddd;
}

.testimonials-grid li:after {
  width: 100%;
  height: 0;
  top: auto;
  left: 0;
  bottom: -1px;
  border-bottom: 1px dashed #ddd;
}

.testimonials-grid.grid-3 li {
  width: 33.33%;
}

.testimonials-grid li .testimonial {
  padding: 0;
  background-color: transparent!important;
  border: 0!important;
  box-shadow: none!important;
}

.testimonial {
  position: relative;
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.testi-content {
  position: relative;
  overflow: hidden;
}

.testi-content p {
  margin-bottom: 0;
  font: italic 15px "Crete Round",serif;
}

.testi-content p:after,.testi-content p:before {
  content: '"';
}

.testi-meta {
  margin-top: 10px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.testi-meta:before {
  content: '\2013';
}

#gotoTop {
  display: none;
  z-index: 299;
  position: fixed;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,.3);
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 2px;
}

body:not(.device-touch) #gotoTop {
  transition: background-color .2s linear;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
}

#gotoTop:hover {
  background-color: #1abc9c;
}

#navbar-toggle-cbox {
  display: none;
}

#navbar-toggle-cbox:checked~#primary-menu>ul {
  display: block;
}

.flag-icon {
  background: no-repeat 50%;
  background-size: contain;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}

.flag-icon:before {
  content: "\a0";
  content: "\a0";
}

.flag-icon-gb {
  background: url(/assets/flags/4x3/gb.svg);
  background-image: url(/assets/flags/4x3/gb.svg);
  background-image: url(/assets/flags/4x3/gb.svg);
  background-size: contain;
  background-image: url(/assets/flags/4x3/gb.svg);
}

@media (max-width:991px) {
  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li {
    border-top-color: #eee!important;
  }

  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li.current a,body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li:hover a {
    color: #1abc9c!important;
  }
}

[class^=icon-] {
  display: inline-block;
  font-family: 'font-icons';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-external-link:before {
  content: "\e742";
}

.icon-reorder:before {
  content: "\e76d";
}

.icon-angle-up:before {
  content: "\e7a6";
}

@media (min-width:992px) and (max-width:1199px) {
  #wrapper {
    width: 1000px;
  }
}

@media (max-width:991px) {
  #wrapper {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  #header,#header-wrap {
    height: auto!important;
  }

  #logo,#primary-menu {
    display: block;
    float: none;
  }

  #logo {
    margin: 0 auto 0 auto!important;
    max-width: none;
    text-align: center;
    border: 0!important;
    padding: 0 0 0 0!important;
    height: 100px;
  }

  #primary-menu {
    height: auto!important;
  }

  #primary-menu-trigger {
    opacity: 1;
    pointer-events: auto;
    top: 25px;
    margin-top: 0;
    left: 0;
    z-index: 1;
  }

  #primary-menu>ul {
    display: none;
    float: none!important;
    border: 0!important;
    padding: 0 0 0 0!important;
    margin: 0 0 0 0!important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  body:not(.top-search-open) #primary-menu-trigger {
    opacity: 1;
    -webkit-transition: opacity .2s .2s ease,top .4s ease;
    -o-transition: opacity .2s .2s ease,top .4s ease;
    transition: opacity .2s .2s ease,top .4s ease;
  }

  #primary-menu ul {
    height: auto!important;
  }

  #primary-menu ul li {
    float: none;
    margin: 0 0 0 0!important;
    text-align: left!important;
    border-top: 1px solid #eee;
  }

  #primary-menu ul li:first-child {
    border-top: 0;
  }

  #primary-menu ul li a {
    height: 50px!important;
    line-height: 50px!important;
    padding: 0 5px 0 5px!important;
    border: 0!important;
    margin: 0 0 0 0!important;
  }

  #primary-menu ul li i {
    line-height: 49px;
  }

  .testimonials-grid.grid-3 li {
    width: 50%;
  }
}

@media (max-width:767px) {
  body {
    padding: 0 0 0 0!important;
  }

  #wrapper {
    width: 100%!important;
  }

  #gotoTop {
    display: none!important;
  }

  .testimonials-grid li {
    float: none;
    width: auto!important;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width:480px) and (max-width:767px) {
  .container {
    width: 470px!important;
  }
}

@media (max-width:479px) {
  .container {
    width: 95%!important;
  }
}

body {
  margin: 0;
  background-color: #fff;
  font: 18px/1.5 Lato,sans-serif;
  color: #555;
}

strong {
  font-weight: 700;
}

@media print {
  *,:after,:before {
    background: 0 0!important;
    color: #000!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  h2,p {
    orphans: 3;
    widows: 3;
  }

  h2 {
    page-break-after: avoid;
  }
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.breadcrumb {
  list-style: none;
  border-radius: 4px;
  position: absolute!important;
  top: 50%!important;
  left: auto!important;
  right: 15px!important;
  margin: -10px 0 0 0!important;
  background-color: transparent!important;
  padding: 0 0 0 0!important;
  font-size: 12px;
}

#primary-menu ul li span[class~=flag-icon],.breadcrumb>li,.pager li>a {
  display: inline-block;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center;
}

#page-title span.feedlink,.pager li {
  display: inline;
}

.pager li>a {
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.pager li>a:focus,.pager li>a:hover {
  text-decoration: none;
  background-color: #eee;
}

.pager .next>a {
  float: right;
}

.clearfix:after,.clearfix:before,.container:after,.container:before,.pager:after,.pager:before {
  content: " ";
  display: table;
}

.clearfix:after,.container:after,.pager:after {
  clear: both;
}

li,ol,ul {
  padding: 0;
}

h1,h2 {
  color: #444;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px;
  font-family: 'Arial,Helvetica,sans-serif',sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  color: #444;
  font: 600 30px/1.5 Raleway,sans-serif;
  margin: 0 0 30px;
}

ol,ul {
  margin: 0 0 30px;
}

#primary-menu>ul>li.current a,#primary-menu>ul>li:hover a,.breadcrumb a:hover,.entry-title h2 a:hover {
  color: #1abc9c;
}

#content .container,#header-wrap,#page-title,#page-title .container {
  position: relative;
}

#page-title {
  padding: 50px 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}

#page-title h1,.entry-title h2 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#page-title h1 {
  padding: 0;
  margin: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333;
  font-size: 28px;
  text-transform: uppercase;
}

#page-title span {
  display: block;
  margin-top: 10px;
  font-weight: 300;
  color: #777;
  font-size: 18px;
}

.breadcrumb a {
  color: #555;
}

.breadcrumb,.breadcrumb i {
  width: auto!important;
}

#content ul.entry-meta {
  margin-left: 0;
}

#content,#posts,.content-wrap,.entry,.entry-meta li i {
  position: relative;
}

.entry {
  position: relative;
  margin: 0 0 50px;
  padding: 0 0 50px;
  border-bottom: 2px solid #f5f5f5;
}

.entry-title h2 {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.entry-title h2 a {
  color: #333;
}

.entry-meta {
  margin: 10px -10px -15px 0;
  list-style: none;
}

.entry-meta li {
  float: left;
  font: italic 13px/14px "Crete Round",serif;
  margin: 0 10px 15px 0;
  color: #999;
}

.entry-meta li:before {
  content: '/';
  display: inline-block;
  margin-right: 10px;
  opacity: .5;
}

.entry-meta li i {
  position: relative;
  top: 1px;
  font-size: 14px;
  margin-right: 3px;
}

.entry-meta li:first-child:before {
  display: none;
}

#posts .entry-content {
  margin-top: 30px;
}

.entry-content {
  position: relative;
}

@media (max-width:991px) {
  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li {
    border-top-color: #eee!important;
  }

  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li.current a,body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li:hover a {
    color: #1abc9c!important;
  }
}

.icon-rss:before {
  content: "\e85d";
}

.icon-calendar3:before {
  content: "\e728";
}

@media (min-width:992px) and (max-width:1199px) {
  #wrapper {
    width: 1000px;
  }
}

@media (max-width:991px) {
  #wrapper {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  #header,#header-wrap {
    height: auto!important;
  }

  #logo,#primary-menu {
    display: block;
    float: none;
  }

  #logo {
    margin: 0 auto 0 auto!important;
    max-width: none;
    text-align: center;
    border: 0!important;
    padding: 0 0 0 0!important;
    height: 100px;
  }

  #primary-menu {
    height: auto!important;
  }

  #primary-menu-trigger {
    opacity: 1;
    pointer-events: auto;
    top: 25px;
    margin-top: 0;
    left: 0;
    z-index: 1;
  }

  #primary-menu>ul {
    display: none;
    float: none!important;
    border: 0!important;
    padding: 0 0 0 0!important;
    margin: 0 0 0 0!important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  body:not(.top-search-open) #primary-menu-trigger {
    opacity: 1;
    -webkit-transition: opacity .2s .2s ease,top .4s ease;
    -o-transition: opacity .2s .2s ease,top .4s ease;
    transition: opacity .2s .2s ease,top .4s ease;
  }

  #primary-menu ul {
    height: auto!important;
  }

  #primary-menu ul li {
    float: none;
    margin: 0 0 0 0!important;
    text-align: left!important;
    border-top: 1px solid #eee;
  }

  #primary-menu ul li:first-child {
    border-top: 0;
  }

  #primary-menu ul li a {
    height: 50px!important;
    line-height: 50px!important;
    padding: 0 5px 0 5px!important;
    border: 0!important;
    margin: 0 0 0 0!important;
  }

  #primary-menu ul li i {
    line-height: 49px;
  }

  .entry-meta li {
    font-size: 12px;
    margin: 0 10px 10px 0;
  }
}

@media (max-width:767px) {
  body {
    padding: 0 0 0 0!important;
  }

  #wrapper {
    width: 100%!important;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  #gotoTop {
    display: none!important;
  }

  #page-title {
    padding: 20px 0 25px;
    text-align: center;
  }

  #page-title h1 {
    line-height: 1.5;
    font-size: 24px;
  }

  #page-title .breadcrumb {
    position: relative!important;
    top: 0!important;
    left: 0!important;
    right: 0!important;
    margin: 15px 0 0 0!important;
  }

  .entry-title h2 {
    font-size: 18px!important;
    font-weight: 600;
  }

  .entry-meta li {
    font-size: 11px;
    margin: 0 10px 10px 0;
  }

  #posts .entry-meta li i {
    display: none;
  }

  #posts .entry-meta li:last-child i {
    display: inline-block;
  }
}

@media (min-width:480px) and (max-width:767px) {
  .container {
    width: 470px!important;
  }
}

@media (max-width:479px) {
  .container {
    width: 95%!important;
  }
}

html {
  font: 10px sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

@media print {
  *,:after,:before {
    background: 0 0!important;
    color: #000!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  h2,h3,p {
    orphans: 3;
    widows: 3;
  }

  h2,h3 {
    page-break-after: avoid;
  }
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

@media print {
  .hidden-print {
    display: none!important;
  }
}

.clear {
  clear: both;
  display: block;
  height: 0;
  line-height: 0;
  width: 100%;
  overflow: hidden;
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

iframe {
  border: 0!important;
}

h2,h3 {
  color: #444;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px;
  font-family: 'Raleway',sans-serif;
}

h3 {
  color: #444;
  font: 600 24px/1.5 Arial,Helvetica,sans-serif,sans-serif;
}

.tright {
  text-align: right!important;
}

#wrapper,.line {
  position: relative;
}

.line {
  clear: both;
  width: 100%;
  margin: 60px 0;
  border-top: 1px solid #eee;
}

.bottommargin {
  margin-bottom: 50px!important;
}

.notopmargin {
  margin-top: 0!important;
}

.nobottommargin {
  margin-bottom: 0!important;
}

.noborder {
  border: 0!important;
}

.col_half {
  width: 48%;
  display: block;
  position: relative;
  margin-right: 4%;
  margin-bottom: 50px;
  float: left;
}

.col_last {
  margin-right: 0!important;
  clear: right;
}

#primary-menu>ul>li:hover a,.entry-meta li a:hover,.entry-title h2 a:hover {
  color: #1abc9c;
}

#content,#content .container,#header-wrap,.entry-meta li i {
  position: relative;
}

.content-wrap,.entry {
  position: relative;
  padding: 64px 0;
}

.single-post .entry-meta {
  margin-bottom: 20px;
}

.entry-meta li a {
  color: #999;
}

.post-navigation+.line {
  margin: 40px 0 50px;
}

.social-icon {
  display: block;
  float: left;
  text-align: center!important;
  cursor: pointer;
  font-style: normal;
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 38px!important;
  color: #555;
  text-shadow: none;
  border: 1px solid #aaa;
  border-radius: 3px;
  overflow: hidden;
}

body:not(.device-touch) .social-icon,body:not(.device-touch) .social-icon i {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.si-borderless {
  border-color: transparent!important;
}

.social-icon i {
  display: block;
  position: relative;
}

.social-icon i:last-child {
  color: #fff!important;
}

.social-icon:hover i:first-child {
  margin-top: -38px;
}

.social-icon:hover {
  color: #555;
  border-color: transparent;
}

.si-share {
  position: relative;
  padding-left: 5px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.si-share span {
  line-height: 36px;
  font-weight: 700;
  font-size: 13px;
}

.si-share div {
  float: right;
}

.si-share .social-icon {
  margin: -1px 0;
  border-radius: 0;
  font-size: 15px;
}

.si-facebook:hover {
  background-color: #3b5998!important;
}

.si-gplus:hover {
  background-color: #dd4b39!important;
}

.si-rss:hover {
  background-color: #ee802f!important;
}

.si-twitter:hover {
  background-color: #00acee!important;
}

.tagcloud {
  margin-bottom: -2px;
}

.tagcloud a {
  font-size: 13px!important;
  padding: 3px 6px;
  border: 1px solid #e5e5e5;
  font-size: 13px!important;
  color: #666;
  border-radius: 2px;
}

body:not(.device-touch) .tagcloud a {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.tagcloud a:hover {
  border-color: #1abc9c!important;
  color: #1abc9c!important;
}

.single-post .entry-title {
  padding-bottom: 40px;
}

@media (max-width:991px) {
  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li {
    border-top-color: #eee!important;
  }

  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li:hover a {
    color: #1abc9c!important;
  }
}

.icon-user:before {
  content: "\e66c";
}

.icon-gplus:before {
  content: "\e838";
}

.icon-cc:before {
  content: "\e84f";
}

.icon-twitter:before {
  content: "\e85f";
}

.icon-facebook:before {
  content: "\e86f";
}

.icon-folder-open:before {
  content: "\e731";
}

@media (min-width:992px) and (max-width:1199px) {
  #wrapper {
    width: 1000px;
  }
}

@media (max-width:991px) {
  #wrapper {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  #header,#header-wrap {
    height: auto!important;
  }

  #logo,#primary-menu {
    display: block;
    float: none;
  }

  #logo {
    margin: 0 auto 0 auto!important;
    max-width: none;
    text-align: center;
    border: 0!important;
    padding: 0 0 0 0!important;
    height: 100px;
  }

  #primary-menu {
    height: auto!important;
  }

  #primary-menu-trigger {
    opacity: 1;
    pointer-events: auto;
    top: 25px;
    margin-top: 0;
    left: 0;
    z-index: 1;
  }

  #primary-menu>ul {
    display: none;
    float: none!important;
    border: 0!important;
    padding: 0 0 0 0!important;
    margin: 0 0 0 0!important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  body:not(.top-search-open) #primary-menu-trigger {
    opacity: 1;
    -webkit-transition: opacity .2s .2s ease,top .4s ease;
    -o-transition: opacity .2s .2s ease,top .4s ease;
    transition: opacity .2s .2s ease,top .4s ease;
  }

  #primary-menu ul {
    height: auto!important;
  }

  #primary-menu ul li {
    float: none;
    margin: 0 0 0 0!important;
    text-align: left!important;
    border-top: 1px solid #eee;
  }

  #primary-menu ul li:first-child {
    border-top: 0;
  }

  #primary-menu ul li a {
    height: 50px!important;
    line-height: 50px!important;
    padding: 0 5px 0 5px!important;
    border: 0!important;
    margin: 0 0 0 0!important;
  }

  #primary-menu ul li i {
    line-height: 49px;
  }

  .entry-meta li {
    font-size: 12px;
    margin: 0 10px 10px 0;
  }
}

@media (max-width:767px) {
  body {
    padding: 0 0 0 0!important;
  }

  #wrapper {
    width: 100%!important;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  #gotoTop {
    display: none!important;
  }

  .col_half {
    width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 50px!important;
  }

  .entry-title h2 {
    font-size: 18px!important;
    font-weight: 600;
  }

  .entry-meta li {
    font-size: 11px;
    margin: 0 10px 10px 0;
  }
}

@media (min-width:480px) and (max-width:767px) {
  .container {
    width: 470px!important;
  }
}

@media (max-width:479px) {
  .container {
    width: 95%!important;
  }

  .si-share span {
    display: none;
  }
}

@media print {
  *,:after,:before {
    background: 0 0!important;
    color: #000!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  h3,p {
    orphans: 3;
    widows: 3;
  }

  h3 {
    page-break-after: avoid;
  }
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width:992px) {
  .col-md-12 {
    float: left;
    width: 100%;
  }
}

.clearfix:after,.clearfix:before,.container:after,.container:before,.row:after,.row:before {
  content: " ";
  display: table;
}

.clearfix:after,.container:after,.row:after {
  clear: both;
}

h1,h3 {
  color: #444;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 0 30px;
  font-family: 'Arial,Helvetica,sans-serif',sans-serif;
}

#primary-menu>ul>li:hover a {
  color: #1abc9c;
}

#header-wrap,#page-title,#page-title .container {
  position: relative;
}

#page-title.page-title-right {
  text-align: right;
}

#content,#content .container,.content-wrap,.iconlist li {
  position: relative;
}

@media (max-width:991px) {
  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li {
    border-top-color: #eee!important;
  }

  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li:hover a {
    color: #1abc9c!important;
  }
}

.iconlist {
  padding-left: 0;
  margin-left: 1.75em;
  list-style: none;
}

.iconlist>li [class^=icon-]:first-child {
  position: absolute;
  left: -1.75em;
  text-align: center;
  top: 1px;
  width: 14px;
}

.icon-ok:before {
  content: "\e6c8";
}

@media (min-width:992px) and (max-width:1199px) {
  #wrapper {
    width: 1000px;
  }
}

@media (max-width:991px) {
  #wrapper {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  #header,#header-wrap {
    height: auto!important;
  }

  #logo,#primary-menu {
    display: block;
    float: none;
  }

  #logo {
    margin: 0 auto 0 auto!important;
    max-width: none;
    text-align: center;
    border: 0!important;
    padding: 0 0 0 0!important;
    height: 100px;
  }

  #primary-menu {
    height: auto!important;
  }

  #primary-menu-trigger {
    opacity: 1;
    pointer-events: auto;
    top: 25px;
    margin-top: 0;
    left: 0;
    z-index: 1;
  }

  #primary-menu>ul {
    display: none;
    float: none!important;
    border: 0!important;
    padding: 0 0 0 0!important;
    margin: 0 0 0 0!important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  body:not(.top-search-open) #primary-menu-trigger {
    opacity: 1;
    -webkit-transition: opacity .2s .2s ease,top .4s ease;
    -o-transition: opacity .2s .2s ease,top .4s ease;
    transition: opacity .2s .2s ease,top .4s ease;
  }

  #primary-menu ul {
    height: auto!important;
  }

  #primary-menu ul li {
    float: none;
    margin: 0 0 0 0!important;
    text-align: left!important;
    border-top: 1px solid #eee;
  }

  #primary-menu ul li:first-child {
    border-top: 0;
  }

  #primary-menu ul li a {
    height: 50px!important;
    line-height: 50px!important;
    padding: 0 5px 0 5px!important;
    border: 0!important;
    margin: 0 0 0 0!important;
  }

  #primary-menu ul li i {
    line-height: 49px;
  }
}

@media (max-width:767px) {
  body {
    padding: 0 0 0 0!important;
  }

  #wrapper {
    width: 100%!important;
  }

  h1 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }

  #gotoTop {
    display: none!important;
  }

  #page-title {
    padding: 20px 0 25px;
    text-align: center;
  }

  #page-title h1 {
    line-height: 1.5;
    font-size: 24px;
  }
}

@media (min-width:480px) and (max-width:767px) {
  .container {
    width: 470px!important;
  }
}

@media (max-width:479px) {
  .container {
    width: 95%!important;
  }
}

header {
  display: block;
}

@media print {
  *,:after,:before {
    background: 0 0!important;
    color: #000!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  p {
    orphans: 3;
    widows: 3;
  }
}

@media print {
  *,:after,:before {
    background: 0 0!important;
    color: #000!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  h2,p {
    orphans: 3;
    widows: 3;
  }

  h2 {
    page-break-after: avoid;
  }
}

ol {
  padding: 0;
  margin: 0 0 30px;
}

.entry-meta li a:hover,.entry-title h2 a:hover {
  color: #1abc9c;
}

@media (max-width:991px) {
  .entry-meta li {
    font-size: 12px;
    margin: 0 10px 10px 0;
  }
}

@media (max-width:767px) {
  h2 {
    font-size: 24px;
  }

  .entry-title h2 {
    font-size: 18px!important;
    font-weight: 600;
  }

  .entry-meta li {
    font-size: 11px;
    margin: 0 10px 10px 0;
  }
}

@media print {
  *,:after,:before {
    background: 0 0!important;
    color: #000!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  h2,h3,p {
    orphans: 3;
    widows: 3;
  }

  h2,h3 {
    page-break-after: avoid;
  }
}

@media (max-width:991px) {
  .entry-meta li {
    font-size: 12px;
    margin: 0 10px 10px 0;
  }
}

@media (max-width:767px) {
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  .entry-title h2 {
    font-size: 18px!important;
    font-weight: 600;
  }

  .entry-meta li {
    font-size: 11px;
    margin: 0 10px 10px 0;
  }
}

@media (max-width:479px) {
  .si-share span {
    display: none;
  }
}

@media print {
  *,:after,:before {
    background: 0 0!important;
    color: #000!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  h3,p {
    orphans: 3;
    widows: 3;
  }

  h3 {
    page-break-after: avoid;
  }
}

.clearfix:after,.clearfix:before {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

h3,ul {
  margin: 0 0 30px;
}

@media (max-width:767px) {
  h3 {
    font-size: 20px;
  }
}

@media print {
  *,:after,:before {
    background: 0 0!important;
    color: #000!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  h2,h3,p {
    orphans: 3;
    widows: 3;
  }

  h2,h3 {
    page-break-after: avoid;
  }
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

@media print {
  .hidden-print {
    display: none!important;
  }
}

#content ol,#content ul {
  margin-left: 25px;
}

@media (max-width:991px) {
  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li {
    border-top-color: #eee!important;
  }

  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li:hover a {
    color: #1abc9c!important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  #wrapper {
    width: 1000px;
  }
}

@media (max-width:991px) {
  #wrapper {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  #header,#header-wrap {
    height: auto!important;
  }

  #logo,#primary-menu {
    display: block;
    float: none;
  }

  #logo {
    margin: 0 auto 0 auto!important;
    max-width: none;
    text-align: center;
    border: 0!important;
    padding: 0 0 0 0!important;
    height: 100px;
  }

  #primary-menu {
    height: auto!important;
  }

  #primary-menu-trigger {
    opacity: 1;
    pointer-events: auto;
    top: 25px;
    margin-top: 0;
    left: 0;
    z-index: 1;
  }

  #primary-menu>ul {
    display: none;
    float: none!important;
    border: 0!important;
    padding: 0 0 0 0!important;
    margin: 0 0 0 0!important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  body:not(.top-search-open) #primary-menu-trigger {
    opacity: 1;
    -webkit-transition: opacity .2s .2s ease,top .4s ease;
    -o-transition: opacity .2s .2s ease,top .4s ease;
    transition: opacity .2s .2s ease,top .4s ease;
  }

  #primary-menu ul {
    height: auto!important;
  }

  #primary-menu ul li {
    float: none;
    margin: 0 0 0 0!important;
    text-align: left!important;
    border-top: 1px solid #eee;
  }

  #primary-menu ul li:first-child {
    border-top: 0;
  }

  #primary-menu ul li a {
    height: 50px!important;
    line-height: 50px!important;
    padding: 0 5px 0 5px!important;
    border: 0!important;
    margin: 0 0 0 0!important;
  }

  #primary-menu ul li i {
    line-height: 49px;
  }

  .entry-meta li {
    font-size: 12px;
    margin: 0 10px 10px 0;
  }
}

@media (max-width:767px) {
  body {
    padding: 0 0 0 0!important;
  }

  #wrapper {
    width: 100%!important;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }

  #gotoTop {
    display: none!important;
  }

  .col_half {
    width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 50px!important;
  }

  .entry-title h2 {
    font-size: 18px!important;
    font-weight: 600;
  }

  .entry-meta li {
    font-size: 11px;
    margin: 0 10px 10px 0;
  }
}

@media (min-width:480px) and (max-width:767px) {
  .container {
    width: 470px!important;
  }
}

@media (max-width:479px) {
  .container {
    width: 95%!important;
  }

  .si-share span {
    display: none;
  }
}

pre {
  overflow: auto;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  display: block;
  color: #333;
}

@media print {
  *,:after,:before {
    background: 0 0!important;
    color: #000!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }

  a,a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  h2,p {
    orphans: 3;
    widows: 3;
  }

  h2 {
    page-break-after: avoid;
  }
}

code,pre {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  border-radius: 4px;
}

code {
  font-size: 90%;
  padding: 2px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
}

label,pre {
  font-size: 13px;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

@media print {
  .hidden-print {
    display: none!important;
  }
}

p,pre {
  margin-bottom: 30px;
}

pre.code {
  font: 14px Inconsolata;
  background: #f8f8f8;
}

@media (max-width:991px) {
  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu ul li {
    border-top-color: #eee!important;
  }

  body:not(.dark) #header:not(.dark) #header-wrap:not(.dark) #primary-menu>ul>li:hover a {
    color: #1abc9c!important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  #wrapper {
    width: 1000px;
  }
}

@media (max-width:991px) {
  #wrapper {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  #header,#header-wrap {
    height: auto!important;
  }

  #logo,#primary-menu {
    display: block;
    float: none;
  }

  #logo {
    margin: 0 auto 0 auto!important;
    max-width: none;
    text-align: center;
    border: 0!important;
    padding: 0 0 0 0!important;
    height: 100px;
  }

  #primary-menu {
    height: auto!important;
  }

  #primary-menu-trigger {
    opacity: 1;
    pointer-events: auto;
    top: 25px;
    margin-top: 0;
    left: 0;
    z-index: 1;
  }

  #primary-menu>ul {
    display: none;
    float: none!important;
    border: 0!important;
    padding: 0 0 0 0!important;
    margin: 0 0 0 0!important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  body:not(.top-search-open) #primary-menu-trigger {
    opacity: 1;
    -webkit-transition: opacity .2s .2s ease,top .4s ease;
    -o-transition: opacity .2s .2s ease,top .4s ease;
    transition: opacity .2s .2s ease,top .4s ease;
  }

  #primary-menu ul {
    height: auto!important;
  }

  #primary-menu ul li {
    float: none;
    margin: 0 0 0 0!important;
    text-align: left!important;
    border-top: 1px solid #eee;
  }

  #primary-menu ul li:first-child {
    border-top: 0;
  }

  #primary-menu ul li a {
    height: 50px!important;
    line-height: 50px!important;
    padding: 0 5px 0 5px!important;
    border: 0!important;
    margin: 0 0 0 0!important;
  }

  #primary-menu ul li i {
    line-height: 49px;
  }

  .entry-meta li {
    font-size: 12px;
    margin: 0 10px 10px 0;
  }
}

@media (max-width:767px) {
  body {
    padding: 0 0 0 0!important;
  }

  #wrapper {
    width: 100%!important;
  }

  h2 {
    font-size: 24px;
  }

  #gotoTop {
    display: none!important;
  }

  .col_half {
    width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 50px!important;
  }

  .entry-title h2 {
    font-size: 18px!important;
    font-weight: 600;
  }

  .entry-meta li {
    font-size: 11px;
    margin: 0 10px 10px 0;
  }
}

@media (min-width:480px) and (max-width:767px) {
  .container {
    width: 470px!important;
  }
}

@media (max-width:479px) {
  .container {
    width: 95%!important;
  }

  .si-share span {
    display: none;
  }
}

@media print {
  *,*:before,*:after {
    background: transparent!important;
    color: #000!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-shadow: none!important;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#primary-menu ul li span[class~="flag-icon"] {
  display: inline-block;
}
