{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body class="no-transition">
<a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>
<a style="display:none;" rel="me" href="https://mamot.fr/@vjousse">Mastodon</a>



	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="no-sticky">

			<div id="header-wrap">

				<div class="container clearfix">

                    <input type="checkbox" id="navbar-toggle-cbox">
                    <label for="navbar-toggle-cbox" id="primary-menu-trigger">&#9776;</label>

					<!-- Logo
					============================================= -->
					<div id="logo" class="nobottomborder text-center" style="height: 100px; line-height:100px;">

                    {% if lang == 'fr' %}
                        <a href="/">
                    {% else %}
                        <a href="/en">
                    {% endif %}
					Vince's</a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

					    <ul>
					    {{ base.html_navigation_links() }}
					    {% if lang == 'fr' %}
					        <li><a href="/en"><span class="flag-icon flag-icon-gb"></span></a></li>
					    {% else %}
					        <li><a href="/"><span class="flag-icon flag-icon-fr"></span></a></li>
					    {% endif %}
					    </ul>
					</nav><!-- #primary-menu end -->

<!--
					<div class="clearfix visible-md visible-lg">
						<a href="http://twitter.com/vjousse" class="social-icon si-small si-borderless si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>

						<a href="http://github.com/vjousse" class="social-icon si-small si-borderless si-github">
							<i class="icon-github"></i>
							<i class="icon-github"></i>
						</a>

						<a href="/rss.xml" class="social-icon si-small si-borderless si-rss">
							<i class="icon-rss"></i>
							<i class="icon-rss"></i>
						</a>
					</div>
-->

				</div>

			</div>

		</header><!-- #header end -->


        {{ template_hooks['page_header']() }}
        {% block content %}{% endblock %}



	</div><!-- #wrapper end -->

<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- Footer Scripts
	============================================= -->

{#
{{ base.late_load_js() }}
    {% block extra_js %}{% endblock %}
#}
    {% if annotations and post and not post.meta('noannotations') %}
        {{ notes.code() }}
    {% elif not annotations and post and post.meta('annotations') %}
        {{ notes.code() }}
    {% endif %}
{{ body_end }}
{{ template_hooks['body_end']() }}

</body>
</html>
