{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body class="stretched side-header no-transition">
<a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>



	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="no-sticky">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo" class="nobottomborder text-center" style="height: 70px;">
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul>
							<li class="current"><a href="index.html"><div>Home</div></a></li>
							<li><a href="#"><div>Tech</div></a></li>
							<li><a href="#"><div>Research</div></a></li>
							<li><a href="#"><div>About</div></a></li>
						</ul>

					</nav><!-- #primary-menu end -->

					<div class="clearfix visible-md visible-lg">
						<a href="#" class="social-icon si-small si-borderless si-facebook">
							<i class="icon-facebook"></i>
							<i class="icon-facebook"></i>
						</a>

						<a href="#" class="social-icon si-small si-borderless si-twitter">
							<i class="icon-twitter"></i>
							<i class="icon-twitter"></i>
						</a>

						<a href="#" class="social-icon si-small si-borderless si-github">
							<i class="icon-github"></i>
							<i class="icon-github"></i>
						</a>
					</div>

				</div>

			</div>

		</header><!-- #header end -->

		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

                {{ template_hooks['page_header']() }}
                {% block content %}{% endblock %}

			</div>

		</section><!-- #content end -->


	</div><!-- #wrapper end -->


{{ base.late_load_js() }}
    <script>$('a.image-reference:not(.islink) img:not(.islink)').parent().colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    <!-- fancy dates -->
    <script>
    moment.locale("{{ momentjs_locales[lang] }}");
    fancydates({{ date_fanciness }}, {{ js_date_format }});
    </script>
    <!-- end fancy dates -->
    {% block extra_js %}{% endblock %}
    {% if annotations and post and not post.meta('noannotations') %}
        {{ notes.code() }}
    {% elif not annotations and post and post.meta('annotations') %}
        {{ notes.code() }}
    {% endif %}
{{ body_end }}
{{ template_hooks['body_end']() }}
</body>
</html>
