{#  -*- coding: utf-8 -*- #}
{% import 'index_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if posts and (permalink == '/' or permalink == '/' + index_file) %}
        <link rel="prefetch" href="{{ posts[0].permalink() }}" type="text/html">
    {% endif %}
{% endblock %}

{% block content %}
{% block content_header %}{% endblock %}


<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">


        <div class="container clearfix">

            <ul class="testimonials-grid grid-3 clearfix">
                <li>
                    <div class="testimonial">

                        <div class="testi-image">
                            <img src="/assets/img/twain.png" alt="Mark Twain">
                        </div>
                        <div class="testi-content">
                            <p>They did not know it was impossible so they did it.</p>
                            <div class="testi-meta">
                                Mark Twain
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">

                        <div class="testi-image">
                            <img src="/assets/img/einstein.png" alt="Albert Einstein">
                        </div>
                        <div class="testi-content">
                            <p>We can't solve problems by using the same kind of thinking we used when we created them.</p>
                            <div class="testi-meta">
                                Albert Einstein
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">

                        <div class="testi-image">
                            <img src="/assets/img/wilde.png" alt="Oscar Wilde">
                        </div>
                        <div class="testi-content">
                            <p>Shoot for the moon. Even if you miss, you'll land among the stars.</p>
                            <div class="testi-meta">
                                Oscar Wilde
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-image">
                            <img src="/assets/img/franklin.png" alt="Benjamin Franklin">
                        </div>
                        <div class="testi-content">
                            <p>Those who would give up essential Liberty, to purchase a little temporary Safety, deserve neither Liberty nor Safety.</p>
                            <div class="testi-meta">
                                Benjamin Franklin
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-image">
                            <img src="/assets/img/confucius.png" alt="Confucius">
                        </div>
                        <div class="testi-content">
                            <p>
                                We have two lives, and the second begins when we realize we only have one.</p>
                            <div class="testi-meta">
                                Confucius
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-image">
                            <img src="/assets/img/gandhi.png" alt="Gandhi">
                        </div>
                        <div class="testi-content">
                            <p>Life is a mystery to be lived, not a problem to be solved.</p>
                            <div class="testi-meta">
                                Gandhi
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="testimonial">
                        <div class="testi-image">
                            <img src="/assets/img/ellington.png" alt="Duke Ellington">
                        </div>
                        <div class="testi-content">
                        <p>A problem is a chance for you to do your best.</p>
                            <div class="testi-meta">
                                Duke Ellington
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="testimonial">
                        <div class="testi-image">
                            <img src="/assets/img/hemingway.png" alt="Ernest Hemingway">
                        </div>
                        <div class="testi-content">
                            <p>The best way to find out if you can trust somebody is to trust them.</p>
                            <div class="testi-meta">
                                Ernest Hemingway
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="testimonial">
                        <div class="testi-image">
                            <img src="/assets/img/drucker.png" alt="Peter Drucker">
                        </div>
                        <div class="testi-content">
                            <p>The best way to predict the future is to create it.</p>
                            <div class="testi-meta">
                                Peter Drucker
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

        </div><!-- .container end -->
    </div>

</section><!-- #content end -->

{{ helper.html_pager() }}
{{ comments.comment_link_script() }}
{{ helper.mathjax_script(posts) }}
{% endblock %}


{% block extra_js %}
<script type="text/javascript">


</script>

{% endblock %}
