{#  -*- coding: utf-8 -*- #}
{% import 'index_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if posts and (permalink == '/' or permalink == '/' + index_file) %}
        <link rel="prefetch" href="{{ posts[0].permalink() }}" type="text/html">
    {% endif %}
{% endblock %}

{% block content %}
{% block content_header %}{% endblock %}


<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">


        <div class="container clearfix">

            <div class="fslider testimonial testimonial-full bottommargin" data-animation="fade" data-arrows="false">
                    <div class="flexslider">
                        <div class="slider-wrap">
                            <div class="slide">
                                <div class="testi-image">
                                    <a href="#"><img src="assets/img/twain.png" alt="Mark Twain"></a>
                                </div>
                                <div class="testi-content">
                                    <p>They did not know it was impossible so they did it.</p>
                                    <div class="testi-meta">
                                        Mark Twain
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testi-image">
                                    <a href="#"><img src="assets/img/einstein.png" alt="Albert Einstein"></a>
                                </div>
                                <div class="testi-content">
                                    <p>We can't solve problems by using the same kind of thinking we used when we created them.</p>
                                    <div class="testi-meta">
                                        Albert Einstein
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testi-image">
                                    <a href="#"><img src="assets/img/wilde.png" alt="Oscar Wilde"></a>
                                </div>
                                <div class="testi-content">
                                    <p>Shoot for the moon. Even if you miss, you'll land among the stars.</p>
                                    <div class="testi-meta">
                                        Oscar Wilde
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section center footer-stick">

                <div id="twitter-scroller" class="fslider testimonial testimonial-full twitter-scroll" data-animation="slide" data-arrows="false">
                    <i class="i-plain i-large color icon-twitter divcenter bottommargin-sm"></i>
                    <div class="flexslider">
                        <div class="slider-wrap">
                            <div class="slide"></div>
                        </div>
                    </div>
                </div>


            </div>

        </div><!-- .container end -->
    </div>

</section><!-- #content end -->

{% block extra_js %}
<script type="text/javascript">

    jQuery(document).ready(function($){
        $.getJSON('http://data.jousse.org/twitter/tweets.php?username=vjousse&count=3', function(tweets){
            $("#twitter-scroller .slider-wrap").html(sm_format_twitter3(tweets));
        });
    });

</script>

{% endblock %}
{{ helper.html_pager() }}
{{ comments.comment_link_script() }}
{{ helper.mathjax_script(posts) }}
{% endblock %}
