{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if post.meta('keywords') %}
    <meta name="keywords" content="{{ post.meta('keywords')|e }}">
    {% endif %}
    {% if post.description() %}
    <meta name="description" content="{{ post.description()|e }}">
    {% endif %}
    <meta name="author" content="{{ post.author()|e }}">
    {% if post.prev_post %}
        <link rel="prev" href="{{ post.prev_post.permalink() }}" title="{{ post.prev_post.title()|e }}" type="text/html">
    {% endif %}
    {% if post.next_post %}
        <link rel="next" href="{{ post.next_post.permalink() }}" title="{{ post.next_post.title()|e }}" type="text/html">
    {% endif %}
    {% if post.is_draft %}
        <meta name="robots" content="noindex">
    {% endif %}
    {{ helper.open_graph_metadata(post) }}
    {{ helper.twitter_card_information(post) }}
    {{ helper.meta_translations(post) }}
{% endblock %}

{% block content %}

<div class="container clearfix">

    <div class="single-post nobottommargin">

        <!-- Single Post
        ============================================= -->
        <div class="entry clearfix">

            {{ pheader.html_post_header() }}

            <!-- Entry Content
            ============================================= -->
            <div class="entry-content notopmargin">
                {{ post.text() }}

                {{ helper.html_tags(post) }}

                <!-- Post Single - Share
                ============================================= -->
                <div class="si-share noborder clearfix">
                    <span>Share this Post:</span>
                    <div>

                        <a class="social-icon si-borderless si-facebook" href="http://www.facebook.com/sharer.php?u={{ abs_link(post.permalink()) }}&t={{ blog_title|e }}" target="_blank"> 

                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a class="social-icon si-borderless si-twitter" href="https://twitter.com/share?url={{ abs_link(post.permalink()) }}&text={{ post.title()|e }}{{ ' | '|e }}{{ blog_title|e }}{{ ' via @vjousse'|e }}" target="_blank">

                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                        <a class="social-icon si-borderless si-gplus" href="https://plus.google.com/share?url={{ abs_link(post.permalink()) }}" target="_blank">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>
                        <a class="social-icon si-borderless si-rss" title="RSS" href="{{ _link('rss', None) }}">
                            <i class="icon-rss"></i>
                            <i class="icon-rss"></i>
                        </a>
                    </div>
                </div><!-- Post Single - Share End -->

            </div><!-- .entry-content end -->
        </div><!-- .entry end -->

        {{ helper.html_pager(post) }}

        {{ helper.mathjax_script(post) }}
        

    </div><!-- .single-post end -->
</div><!-- .container end -->

{{ comments.comment_link_script() }}
{% endblock %}
