{#  -*- coding: utf-8 -*- #}
{% import 'index_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if posts and (permalink == '/' or permalink == '/' + index_file) %}
        <link rel="prefetch" href="{{ posts[0].permalink() }}" type="text/html">
    {% endif %}
{% endblock %}

{% block content %}
{% block content_header %}{% endblock %}


<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">


        <div class="container clearfix">

            <!-- Posts
            ============================================= -->
            <div id="posts">
            {% for post in posts %}
                {% if post.text() != "<span></span>" and post.is_translation_available(lang) %}

                    <div class="entry clearfix post-{{ post.meta('type') }}">
                        <div class="entry-title">
                            <h2><a href="{{ post.permalink() }}">{{ post.title()|e }}</a></h2>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-calendar3"></i> <time class="published dt-published" datetime="{{ post.formatted_date('webiso') }}" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date(date_format)|e }}</time></li>
                        </ul>

                        {% if index_teasers %}
                        <div class="p-summary entry-content">
                        {{ post.text(teaser_only=True) }}
                        {% else %}
                        <div class="e-content entry-content">
                        {{ post.text(teaser_only=False) }}
                        {% endif %}

                        </div>
                    </div>
                {% endif %}
            {% endfor %}

            </div><!-- #posts end -->
            {{ helper.html_pager() }}
        </div><!-- .container end -->
    </div>

</section><!-- #content end -->

{{ comments.comment_link_script() }}
{{ helper.mathjax_script(posts) }}
{% endblock %}
