{#  -*- coding: utf-8 -*- #}
{% extends 'posts.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if generate_atom %}
        <link rel="alternate" type="application/atom+xml" title="Atom for the {# posts[0].section_name()|e #} section" href="{# _link('section_index_atom', posts[0].section_slug()) #}">
    {% endif %}
{% endblock %}

{% block content %}
<!-- Page Title
============================================= -->
<section id="page-title">
  <div class="container clearfix">
    <h1>{{ tag }}</h1>
      <ol class="breadcrumb">
        <li><span class="feedlink"><a type="application/rss+xml" title="RSS" href="{{ _link('rss', None) }}"> {{ messages('RSS feed') }}</a></span></li>
      </ol>
  </div>

</section><!-- #page-title end -->
<div class="sectionindex">
    {{ super() }}
</div>
{% endblock %}
